<div class="container">
  <h1 class="container-heading">Employee List</h1>
  <table class="pipetable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Location</th>
        <th>City</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{ emp.eName }}</td>
        <td>{{ emp.eEmail }}</td>
        <td>{{ emp.ePosition | uppercase }}</td>
        <td>{{ emp.eAddress.eLocation }}</td>
        <td>{{ emp.eAddress.eCity }}</td>
        <td>
          <button class="viewDetails-btn" (click)="employeeDetails(emp.id)">
            View
          </button>
          <!-- <button class="editDetails-btn" (click)="editEmployee(emp.id)">
            Edit
          </button> -->
          <button class="deleteDetails-btn" (click)="deleteEmployee(emp.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
