<div class="container">
  <form #employeeForm="ngForm" (ngSubmit)="onEmployeeAdd(employeeForm.value)">
    <h2>Employee Form</h2>
    <label for="eName"> Name</label>
    <input
      type="text"
      name="eName"
      class="eName"
      required
      [(ngModel)]="user.eName"
      #eName="ngModel"
    />
    <div>
      <small class="warningMessege" *ngIf="eName.invalid && eName.touched"
        >Name is required</small
      >
    </div>

    <label for="eDob">Date of Birth</label>
    <input
      type="date"
      name="eDob"
      id="eDob"
      required
      [(ngModel)]="user.eDob"
      #eDob="ngModel"
    />
    <div>
      <small class="warningMessege" *ngIf="eDob.invalid && eDob.touched"
        >Date of Birth required</small
      >
    </div>

    <label for="eEmail"> Email</label>
    <input
      type="email"
      name="eEmail"
      id="eEmail"
      required
      [(ngModel)]="user.eEmail"
      #eEmail="ngModel"
    />
    <div>
      <small class="warningMessege" *ngIf="eEmail.invalid && eEmail.touched"
        >Email is required</small
      >
    </div>

    <label for="ePosition"> Position</label>
    <input
      type="text"
      name="ePosition"
      id="ePosition"
      required
      [(ngModel)]="user.ePosition"
      #ePosition="ngModel"
    />
    <div>
      <small
        class="warningMessege"
        *ngIf="ePosition.invalid && ePosition.touched"
        >Position is required</small
      >
    </div>

    <label for="eLocation"> Location</label>
    <input
      type="text"
      name="eLocation"
      id="eLocation"
      required
      [(ngModel)]="user.eLocation"
      #eLocation="ngModel"
    />
    <div>
      <small
        class="warningMessege"
        *ngIf="eLocation.invalid && eLocation.touched"
        >Position is required</small
      >
    </div>

    <label for="ePostal"> Postal</label>
    <input
      type="number"
      name="ePostal"
      id="ePostal"
      required
      [(ngModel)]="user.ePostal"
      #ePostal="ngModel"
    />
    <div>
      <small class="warningMessege" *ngIf="ePostal.invalid && ePostal.touched"
        >Postal is required</small
      >
    </div>

    <label for="eCity"> City</label>
    <input
      type="text"
      name="eCity"
      id="eCity"
      required
      [(ngModel)]="user.eCity"
      #eCity="ngModel"
    />
    <div>
      <small class="warningMessege" *ngIf="eCity.invalid && eCity.touched"
        >City is required</small
      >
    </div>

    <label for="eSalary"> Salary</label>
    <input
      type="number"
      name="eSalary"
      id="eSalary"
      required
      [(ngModel)]="user.eSalary"
      #eSalary="ngModel"
    />
    <div>
      <small class="warningMessege" *ngIf="eSalary.invalid && eSalary.touched"
        >Salary is required</small
      >
    </div>

    <input
      type="submit"
      [disabled]="!employeeForm.valid"
      value=" {{ editMode ? 'Update Employee' : 'Add Employee' }} "
    />
  </form>
</div>
<div class="employee">
  <div *ngIf="emps?.length > 0">
    <div class="employee-list" *ngFor="let emp of emps; index as i">
      <p>
        <strong>Employee {{ i + 1 }}:</strong>
      </p>
      <p><span class="label">Name:</span> {{ emp.eName }}</p>
      <p><span class="label">Age:</span> {{ calcuteAge(emp.eDob) }}</p>
      <p><span class="label">Email:</span> {{ emp.eEmail }}</p>
      <p><span class="label">Position:</span> {{ emp.ePosition }}</p>
      <p><span class="label">Location:</span> {{ emp.eLocation }}</p>
      <p><span class="label">Postal:</span> {{ emp.ePostal }}</p>
      <p><span class="label">City:</span> {{ emp.eCity }}</p>

      <div class="employee-actions">
        <button class="btn btn-edit" (click)="editEmployee(emp.id)">
          Edit
        </button>
        <button class="btn btn-delete" (click)="deleteEmployee(emp.id)">
          Delete
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="emps?.length === 0">
    <p>No employees found.</p>
  </div>
</div>
