<div class="container">
  <form #employeeForm="ngForm" (ngSubmit)="onEmployeeAdd(employeeForm.value)">
    <h2>Employee Form</h2>
    <label for="eName">Employee Name</label>
    <input type="text" name="eName" class="eName" ngModel />
    <label for="eAge">Employee Age</label>
    <input type="number" name="eAge" id="eAge" ngModel />
    <label for="eEmail">Employee Email</label>
    <input type="email" name="eEmail" id="eEmail" ngModel />
    <label for="ePosition">Employee Position</label>
    <input type="text" name="ePosition" id="ePosition" ngModel />
    <label for="eLocation">Employee Location</label>
    <input type="text" name="eLocation" id="eLocation" ngModel />
    <label for="ePostal">Employee Postal</label>
    <input type="number" name="ePostal" id="ePostal" ngModel />
    <label for="eCity">Employee City</label>
    <input type="text" name="eCity" id="eCity" ngModel />
    <input
      type="submit"
      value=" {{ editMode ? 'Update Employee' : 'Add Employee' }} "
    />
  </form>
</div>
<div class="employeeList">
  <div *ngFor="let emp of emps; index as i" class="employee">
    <p class="employee-title">
      <strong>Employee {{ i + 1 }}:</strong>
    </p>
    <p><span class="label">Name:</span> {{ emp.eName }}</p>
    <p><span class="label">Age:</span> {{ emp.eAge }}</p>
    <p><span class="label">Email:</span> {{ emp.eEmail }}</p>
    <p><span class="label">Position:</span> {{ emp.ePosition }}</p>
    <p><span class="label">Location:</span> {{ emp.eLocation }}</p>
    <p><span class="label">Postal:</span> {{ emp.ePostal }}</p>
    <p><span class="label">City:</span> {{ emp.eCity }}</p>

    <div class="employee-actions">
      <button type="button" class="btn btn-edit" (click)="editEmployee(emp.id)">
        Update
      </button>
      <button class="btn btn-delete" (click)="deleteEmployee(emp.id)">
        Delete
      </button>
    </div>
  </div>
</div>
