<div>
  <div class="employee-card">
    <h2 class="employee-card-heading">{{ user.eName }}</h2>
    <p><strong>Date of Birth:</strong> {{ user.eDob | date : "longDate" }}</p>
    <p><strong>Age:</strong> {{ calcuteAge(user.eDob) }}</p>
    <p><strong>Email:</strong> {{ user.eEmail }}</p>
    <p><strong>Position:</strong> {{ user.ePosition }}</p>
    <p><strong>Location:</strong> {{ user.eAddress.eLocation }}</p>
    <p><strong>Postal:</strong> {{ user.eAddress.ePostal }}</p>
    <p><strong>City:</strong> {{ user.eAddress.eCity }}</p>
    <p><strong>Salary:</strong> {{ user.eSalary | currency }}</p>
    <p><strong>Skills:</strong> {{ user.eSkills }}</p>

    <div class="close-btn-container">
      <button (click)="redirectToInfo(user.id)" class="close-btn">Close</button>
    </div>
  </div>
</div>
